@model IEnumerable<ASP.NetCoreWebAppEmample.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Product item in ViewBag.ProdList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <input type="text" id="@item.ProductId+qty" name="qua" value="1" />
                
                
            </td>
            <td>
                
                <a  onclick="PassQuant(@item.ProductId)"><button type="button" class="btn-info" >AddToCart</button></a>


            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function PassQuant(id) {

        var qty = document.getElementById(id+'+qty').value
        window.location = `Cart/Cart?pid=${id}&qty=${qty}`
        
        
    }
</script>

